<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="todoApp">
    <head>
        <title>AngularJS todo list example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.angularjs.org/1.4.0/angular.min.js"></script>
        <script type="text/javascript" src="todo.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <style type="text/css">
            .done-true {
                text-decoration: line-through;
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Todo List</h1>
        <div ng-controller="TodoList as todo">
            <span>Total remaining todo task: {{todo.todos.length}}</span>
            <ul style="list-style: none;">
                <li ng-repeat="item in todo.todos">
                    <label>
                        <input type="checkbox" ng-model="item.done" />
                        <span class="done-{{item.done}}">{{item.text}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </body>
</html>
